# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Env
.env

# Junk files
25252.html
441.txt
Untitled-1.dart
fp.js
fp123131.js

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log
nohup.out